---

---
<section class="relative text-white py-40 bg-cover bg-center" style="background-image: url('/bg-fire-flakes-overlay.jpg');">
    <div class="absolute inset-0 bg-black bg-opacity-10"></div>
    <div class="relative container mx-auto text-center">
        <h1 class="text-5xl font-bold mb-4 shadowEffect">Lucas Ferrero</h1>
        <p class="text-xl text-gray-400">Full Stack Developer</p>
    </div>
</section>

<style>
.shadowEffect {
    text-shadow: 2px 2px 30px #ea580c;
}
</style>
